
<div id="contents"> <!-- start of contents --> 
  <h2 class="contact-us"><span>Contact</span></h2>
  <div>
    <%= data.site.contact.details %>
    <table class="contact-details">
      <tbody>
	<tr><td>EMAIL</td><td>:</td><td><%= data.site.contact.email %></td></tr>
	<tr><td>ADDRESS</td><td>:</td><td><%= data.site.contact.address_full %></td></tr>
	<tr><td>PHONE</td><td>:</td><td><%= data.site.contact.phone %></td></tr>
      </tbody>
    </table>
  </div>
</div> <!-- end of contents -->

