
<div id="body"> <!-- start of content --> 
  <ul id="featured"> <!-- start of featured -->
    <li class="main">
      <a href="menu"></a> 
    </li>
    <li class="drinks">
      <a href="drinks"></a> 
    </li>
    <li class="entree">
      <a href="entree"></a> 
    </li>
    <li class="desserts">
      <a href="desserts"></a> 
    </li>
  </ul> <!-- end of featured -->
</div> <!-- end of content -->
